<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <title><%= prenom + ' ' + nom %> - <%= start + ' - ' + end %></title>
    <meta name="description" content="Emploi du temps de <%= prenom + ' ' + nom %> pour la semaine du <%= start + ' au ' + end %>">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#090A35" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cd-main-header text-center flex flex-column flex-center">
        <% if (arrows) { %>
        <a class="change-week" href="" aria-label="Semaine précédente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
        </a>
        <% } %>
        <h1 class="text-xl" style="margin-bottom: 1em;">
            <%= prenom + ' ' + nom %><br><%= start + ' - ' + end %>
        </h1>
        <% if (arrows) { %>
        <a class="change-week" href="" aria-label="Semaine suivante">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        </a>
        <% } %>
    </header>

    <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
        <div class="cd-schedule__timeline">
            <ul>
                <li><span>08:00</span></li>
                <li><span>08:30</span></li>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
                <li><span>17:30</span></li>
                <li><span>18:00</span></li>
                <li><span>18:30</span></li>
                <li><span>19:00</span></li>
                <li><span>19:30</span></li>
                <li><span>20:00</span></li>
            </ul>
        </div> <!-- .cd-schedule__timeline -->

        <div class="cd-schedule__events">
            <ul>
                <% Object.keys(calendar).forEach(function(day) { %>
                    <li class="cd-schedule__group <%= calendar[day].length === 0 ? 'empty-day' : '' %>">
                        <div class="cd-schedule__top-info"><span>
                                <%= day %>
                            </span></div>
                        <ul>
                            <% calendar[day].forEach(function(event) { %>
                                <li class="cd-schedule__event">
                                    <% let start=new Date(event.start).toLocaleTimeString('fr-FR', {timeZone:'CET', hour: '2-digit' ,
                                        minute:'2-digit'}); %>
                                    <% let end=new Date(event.end).toLocaleTimeString('fr-FR', {timeZone:'CET', hour: '2-digit' ,
                                        minute:'2-digit'}); %>
                                    <% let dataEvent = "event-autre"; %>
                                    <% if (event.summary.split(" ").includes("CM") || event.summary.split(" ").includes("Cours")) { %>
                                        <% dataEvent = "event-cours"; %>
                                    <% } else if (event.summary.split(" ").includes("TD")) { %>
                                        <% dataEvent = "event-td"; %>
                                    <% } else if (event.summary.split(" ").includes("TP")) { %>
                                        <% dataEvent = "event-tp"; %>
                                    <% } else if (event.summary.split(" ").includes("Examen")) { %>
                                        <% dataEvent = "event-exam"; %>
                                    <% } else if (event.summary.split(" ").includes("Anglais") || event.summary.split(" ").includes("English")) { %>
                                        <% dataEvent = "event-anglais"; %>
                                    <% } %>
                                            <div data-start="<%= start %>" data-end="<%= end %>"
                                                data-content="<%= event.content %>" data-event="<%= dataEvent %>">
                                                <em class="cd-schedule__name">
                                                    <%= event.summary %>
                                                </em>
                                                <p style="color:white; opacity: .8">
                                                    <%= event.location %>
                                                </p>
                                                <p style="color:white; opacity: .8">
                                                    <%= event.description %>
                                                </p>
                                            </div>
                                </li>
                                <% }); %>
                        </ul>
                    </li>
                    <% }) %>

            </ul>
        </div>

        <div class="cd-schedule-modal">
            <header class="cd-schedule-modal__header">
                <div class="cd-schedule-modal__content">
                    <span class="cd-schedule-modal__date"></span>
                    <h3 class="cd-schedule-modal__name"></h3>
                </div>

                <div class="cd-schedule-modal__header-bg"></div>
            </header>

            <div class="cd-schedule-modal__body">
                <div class="cd-schedule-modal__event-info"></div>
                <div class="cd-schedule-modal__body-bg"></div>
            </div>

            <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
        </div>

        <div class="cd-schedule__cover-layer"></div>
    </div>

    <script>
        let weekChange = document.getElementsByClassName("change-week");

        if (weekChange.length > 0) {
            let url = window.location.href;
            if (url[url.length - 1] === "/") {
                url = url.slice(0, -1);
                window.location = url;
            }

            let paths = url.split("/");
            
            let currentWeek = paths[paths.length - 1];
            let date;
            if (currentWeek.match(/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/)) {
                date = new Date(currentWeek.split("-").reverse().join("-"));
            } else {
                let title = document.querySelector("h1.text-xl");
                date = new Date((title.innerHTML.trim().split("<br>")[1].split('-')[0].trim()).split("/").reverse().join("-"));
            }
            let nextWeek = new Date(date.getTime() + 7 * 24 * 60 * 60 * 1000);
            let prevWeek = new Date(date.getTime() - 7 * 24 * 60 * 60 * 1000);

            let nextWeekString = nextWeek.toLocaleDateString("fr-FR").replace(/\//g, "-");
            let prevWeekString = prevWeek.toLocaleDateString("fr-FR").replace(/\//g, "-");
            

            if (currentWeek.match(/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/)) {
                url = paths.slice(0, paths.length - 1).join("/");
                weekChange[0].href = url + "/" + prevWeekString;
                weekChange[1].href = url + "/" + nextWeekString;
            } else {
                weekChange[0].href = url + "/" + prevWeekString;
                weekChange[1].href = url + "/" + nextWeekString;
            }
        }
    </script>

    <script src="util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="main.js"></script>
</body>

</html>